   <div class="row shop_content">
            <div class="shop_header_min">
                <div class="col-xs-4 form_department_text">
                    <h1 class="shop_header_h1">
                    Shop Departament
                </h1>
                </div>
                <form role="search">
                    <div class="form-group col-xs-4 col-xs-offset-2 col-tn-8 col-tn-offset-0">
                        <%= form_tag(category_path, :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: "Search Product", class: "form-search" %>
                        </div>
                            <%= submit_tag "Search", class: "form_search_button col-xs-2 col-tn-4" %>
                        <% end %>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="row shop_container">
                <div class="col-md-3">
                    <form action="" class="product_nav">
                        <h2 class="product_nav_header">Navigation</h2>
                        <ul class="product_navigation">
                            
                            <li><td><%= link_to Category.find(1).categoria, category_path(1) %></td></li>
                            <li><td><%= link_to Category.find(2).categoria, category_path(2) %></td></li>
                        </ul>
                    </form>
                </div>
                
                <div class="col-md-9">
                     <% if @products.present? %>
                        <% @products.where(category_id: @category.id).each do |product| %>
                            <div class="col-md-4 product_figure">
                                <%= link_to product.name, product, class: 'product_link' %>
                                <div class="product_form">
                                    <%= image_tag product.image.thumb, class: 'product_img' %>
                                </div>
                                <span class="product_price"><%= number_to_currency product.price %></span>
                                
                                <button class="product_buy">Add To Card</button>
                            </div>
                        <% end %>
                        <% else %>
                          <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
                        <% end %>
                </div>
            </div>
            <% if current_user ==  @admin_user %>
                <%= link_to 'New Product', new_product_path, class: 'item_info_add_button' %>
            <% end %>
        </div>
    