<main class="container shop">
        <div class="row shop_sec_1">
            <% if @products.present? %>
                <div class="col-md-6  shop_sec_1_1">
                    <img src="<%= @products.last.image %>" alt="" class="shop_sec_1_img">
                </div>
                <div class="col-md-4 col-md-offset-1 shop_sec_1_2">
                    <p>
                       <%= @products.last.review %>
                    </p>
                    <span class="shop_sec_1_2_price">
                        <%= number_to_currency @products.last.price %>
                    </span>
                 
                    <%= link_to 'To Review!', @products.last, class: 'shop_sec_1_2_button' %>
                </div>
           <% end %>
        </div>
        <div class="row shop_content">
            <div class="shop_header_min">
                <div class="col-xs-4 form_department_text">
                    <h1 class="shop_header_h1">
                    Shop Departament
                </h1>
                </div>
                <form role="search">
                    <div class="form-group col-xs-4 col-xs-offset-2 col-tn-8 col-tn-offset-0">
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: "Search Device Review", class: "form-search" %>
                        </div>
                            <%= submit_tag "Search", class: "form_search_button col-xs-2 col-tn-4" %>
                        <% end %>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="row shop_container">
                <div class="col-md-3">
                    <form action="" class="product_nav">
                        <h2 class="product_nav_header">Navigation</h2>
                        <ul class="product_navigation">
                            
                            <li><td><%= link_to Category.find(1).categoria, category_path(1) %></td></li>
                            <li><td><%= link_to Category.find(2).categoria, category_path(2) %></td></li>
                        </ul>
                    </form>
                </div>
                
                <div class="col-md-9">
                     <% if @products.present? %>
                          <%= render "product" %>
                        <% else %>
                          <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
                        <% end %>
                </div>
            </div>
            <% if current_user.try(:admin?) %>
                <%= link_to 'New Device Review', new_product_path, class: 'item_info_add_button' %>
            <% end %>
        </div>
    </main>